{% extends "base.html" %}
{% import "macros.html" as macros %}

{% block extra_head %}
<link rel="canonical" href="{{ config.base_url }}">

<meta property="og:title" content="{{ config.title }}" />
<meta property="og:description" content="{{ config.description }}" />
<meta property="og:url" content="{{ config.base_url }}" />
<meta property="og:site_name" content="{{ config.title }}" />
<meta property="og:locale" content="en_US,de_DE" />

<meta name="description" content="{{ config.description }}">
{% endblock extra_head %}

{% block content %}
<h2 class="subtitle">{{ section.title }}</h2>
<ul>
  {% for page in paginator.pages %}
  <li>
    <div class="notification mb-4">
      <div class="container mb-4">
        <h3 class="title">
          <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
        </h3>
        {% if page.description %}
        <h4 class="subtitle">
          {{ page.description }}
        </h4>
        {% endif %}
      </div>
      {% if page.summary %}
        <div class="container mb-2">
          <div class="content">
            {{ page.summary | safe }}
          </div>
          <a class="button" href="{{ page.permalink }}#continue-reading">Continue Reading</a>
        </div>
      {% endif %}
      <div class="container">
        <small>
          <div>
            Posted by {{ config.extra.author }} on
            <time datetime="{{ page.date }}">{{ page.date }}</time>
          </div>
          <!-- <div> -->
          <!--   Reading time about {{ macros::readingtime(time=page.reading_time) }} -->
          <!-- </div> -->
          {% if page.taxonomies.tags %}
          <div>
            Tags:
            <div class="tags">
              {% for tag in page.taxonomies.tags %}
              <span class="tag is-link">
                <a href="{{ get_taxonomy_url(kind="tags", name=tag) }}">
                  {{ tag }}
                </a>
              </span>
              {% endfor %}
            </div>
          </div>
          {% endif %}
        </small>
      </div>
    </div>
  </li>
  {% endfor %}

  <nav class="pagination is-centered" role="navigation" aria-label="pagination">
    {% if paginator.next %}
    <a class="pagination-previous" href="{{ paginator.next }}">Older posts</a>
    {% endif %}
    {% if paginator.previous %}
    <a class="pagination-next" href="{{ paginator.previous }}">Newer posts</a>
    {% endif %}
    {% if paginator.number_pagers > 1 %}
    <ul class="pagination-list">
      Page {{ paginator.current_index }} of {{ paginator.number_pagers }}
    </ul>
    {% endif %}
  </nav>
</ul>
{% endblock page %}
